.resultsPage {
  padding: 0 0 100px 0;
  display: flex;
  justify-content: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.imageFeatureResult {
  margin-bottom: 5rem;
}

.gradient {
  margin-top: 1.5rem;
  background: linear-gradient(
    27deg,
    rgba(255, 110, 208, 1) 0%,
    rgba(165, 43, 255, 1) 50%,
    rgba(0, 237, 255, 1) 100%
  );
  padding-bottom: 2px;
}

.analysisHeader {
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #0e121c;
}

.resultTitle {
  margin-left: 1.5rem;
}

.resultListContainer {
  width: 512px;
}

.image {
  max-height: 512px;
  max-width: 512px;
}

@media (max-width: 712px) {
  .resultListContainer {
    width: 100%;
    padding: 0 1rem;
  }
}
