.navbar {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}

.back {
  cursor: pointer;
  position: absolute;
  padding: 1.1rem 2rem;
  font-size: 0.9rem;
  left: 0;
}

.logo {
  position: absolute;
  padding: 1rem 2rem;
  font-family: 'Cutive Mono';
  right: 0;
  font-weight: 900;
  font-size: 1.3rem;
}

.navTab {
  font-size: 1.3rem;
  margin: 0 1rem;
  padding: 1rem;
  color: rgb(161, 161, 161);
  cursor: pointer;
  user-select: none;
}

.navTabActive {
  color: #fff;
}
