.signupPage {
  width: 100vw;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Cutive Mono';
  font-size: 3rem;
}
