.dendrogramPage {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}

.dendrogram {
  width: 50vw;
  max-width: 50vw;
  height: 75vh;
  max-height: 75vh;
  object-fit: contain;
  padding: 2rem;
}
