html,
body {
  margin: 0;
  font-family: 'Sora', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e121c;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buttonGradient {
  padding: 3px;
  border-radius: 0.5rem;
  background: linear-gradient(
    27deg,
    rgba(255, 110, 208, 1) 0%,
    rgba(165, 43, 255, 1) 50%,
    rgba(0, 237, 255, 1) 100%
  );
  margin-bottom: 1rem;
}

.error {
  color: red;
}

.value {
  color: #b9b9b9;
  padding-left: 1rem;
}
